// layout
.ant-layout {
  background: transparent;
}

// layout 头部
.ant-layout-header {
  background: #fff;
}

// layout 头部内部布局
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  // layout 头部右侧菜单
  .ant-dropdown-trigger {
    // width: 180px;
    color: #888;
    text-align: right;
  }
}

// layout 头部菜单调整
.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-submenu,
.ant-menu-horizontal > .ant-menu-item {
  height: 64px;
  line-height: 60px;
  min-width: 72px;
  border-top: 2px solid transparent;
}

.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu-horizontal > .ant-menu-item-selected {
  border-top: 2px solid #1890ff;
  border-bottom: 2px solid transparent;
}

.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item:hover {
  border-top: 2px solid #1890ff;
  border-bottom: 2px solid transparent;
}

// layer 内容
.ant-layout-content {
  padding: 0 50px;
}

// 多选框组
.ant-checkbox-wrapper {
  margin-right: 8px;
  & + .ant-checkbox-wrapper{
    margin-left: 0;
  }
} 
