// layout
.ant-layout {
  /*background: transparent;*/
  height: 100%;
}

// layout 头部
.ant-layout-header {
  background: #fff;
}

// layout 头部内部布局
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// layout 头部logo
.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo a {
  //transition: 0.4s;
  text-decoration: none;
}

// layout 头部菜单调整
.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-submenu {
  height: 64px;
  line-height: 60px;
  min-width: 72px;
  border-top: 2px solid transparent;
}

.ant-menu-horizontal > .ant-menu-submenu-selected {
  border-top: 2px solid #1890ff;
  border-bottom: 2px solid transparent;
}

.ant-menu-horizontal > .ant-menu-submenu:hover {
  border-top: 2px solid #1890ff;
  border-bottom: 2px solid transparent;
}

// layer 内容
.ant-layout-content {
  padding: 0 50px;
}
