// @import './theme.scss';
@import './light.scss';
@import './dark.scss';
@import './one-dark.scss';
@import './gitHub.scss';
.markdown-preview {
  flex: 1;
  // width: 50%;
  // overflow-y: scroll;
  overflow-y: auto;
  // padding-right: 11px;

  > div {
    padding: 8px 15px;
    background: #fff;
    min-height: 100%;
    width: 100%;
  }

  img {
    display: block;
    width: 90%;
    margin: 20px auto;
    cursor: pointer;
  }

  table {
    width: 100%;
    border: 1px solid #dddee1;
    border-bottom: 0;
    background: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 20px 0;

    tr {
      -webkit-transition: background 0.1s;
      transition: background 0.1s;
      text-align: nav;

    }

    tr td,
    tr th {
      padding: 0 8px;
      font-size: 14px;
      line-height: 39px;
      color: #333;
      border-bottom: 1px solid #dddee1;
      cursor: pointer;
    }

    th {
      background: #f8f8f9;
      text-align: left;
      font-weight: bold;
    }

    tr:nth-of-type(even) {
      td {
        background: #f8f8f9;
      }
    }

    tr {
      &:hover {
        td {
          background: #eaf5f6;
        }
      }
    }

    td,
    th {
      border: 1px solid #dddee1;
    }
  }
}