
@import './theme.scss';
@import './light.scss';

.markdown {
  border: 1px solid #ccc;
}

.markdown-content {
  height: 400px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dddee1;
}

.markdown-toolbars {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding-left: 4px;

  > li {
    position: relative;
    cursor: pointer;

    &:before {
      display: block;
      content: attr(name);
      position: absolute;
      z-index: 999999999999;
      bottom: 32px;
      left: 20px;
      background: #e6e6e6;
      color: #333;
      white-space: nowrap;
      font-size: 12px;
      line-height: 20px;
      padding: 0 6px;
      border: 1px solid $border;
      transition: all 0.3s 0.3s;
      transform: scale(0);
      opacity: 0;
      transform-origin: bottom;
    }

    &:hover {
      &:before {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  span {
    font-size: 18px;
    color: #999;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;

    &:hover {
      background: $background;
      color: #0084ff;
    }
  }

  .shift-theme {
    &:hover ul {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  ul {
    transform: scale(0);
    transition: all 0.3s;
    left: -50%;
    width: 160px;
    transform-origin: top center;
    list-style: none;
    margin: 0;
    padding: 6px 0;
    box-sizing: border-box;
    border: 1px solid $border;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    z-index: 9999999;

    li {
      line-height: 30px;
      padding: 0 12px;
      padding-left: 12px;
      font-size: 13px;
      cursor: pointer;
      user-select: none;

      &:hover, &.active {
        background: $background;
      }
    }
  }

}

.markdown-editor {
  flex: 1;
  min-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  background: #2d2d2d;

  &::-webkit-scrollbar {
    display: none;
  }

  .index {
    background: #272727;
    min-height: 100%;
    width: 36px;
    line-height: $line-height;
    padding: 12px 0;
    margin: 0;

    li {
      background: #272727;
      color: #ccc;
      font-size: 14px;
      text-align: center;
    }
  }

  textarea {
    width: 100%;
    min-height: 100%;
    outline: none;
    border: 0;
    background: #2d2d2d;
    line-height: $line-height;
    caret-color: #ccc;
    color: #669acc;
    font-size: 14px;
    resize: none;
    padding: 12px 8px;
  }
}

.empty {
  background: #f7f7f7;
  width: 12px;
}

.markdown-preview {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px 12px;

  table {
    width: 100%;
    border: 1px solid $border;
    border-bottom: 0;
    background: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 20px 0;

    tr {
      -webkit-transition: background 0.1s;
      transition: background 0.1s;
      text-align: nav;

    }

    tr td,
    tr th {
      padding: 0 8px;
      font-size: 14px;
      line-height: 39px;
      color: #333;
      border-bottom: 1px solid $border;
      cursor: pointer;
    }

    th {
      background: #f8f8f9;
      text-align: left;
      font-weight: bold;
    }

    tr:nth-of-type(even) {
      td {
        background: #f8f8f9;
      }
    }

    tr {
      &:hover {
        td {
          background: #eaf5f6;
        }
      }
    }

    td,
    th {
      border: 1px solid $border;
    }
  }
}