
@import './theme.scss';
@import './light.scss';
@import './dark.scss';
@import './one-dark.scss';
@import './gitHub.scss';

.markdown {
  border: 1px solid #ccc;
  background: $background;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;

  &.fullscreen {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}

.markdown-content {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.markdown-toolbars {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 4px;
  border-bottom: 1px solid #ccc;

  > li {
    position: relative;
  }

  .empty {
    flex: 1;
  }

  span {
    font-size: 18px;
    color: #999;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;

    &:hover {
      background: $background;
      color: #0084ff;
      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
    &::after {
      display: block;
      content: attr(name);
      position: absolute;
      z-index: 9999;
      top: 30px;
      left: 15px;
      background: #e6e6e6;
      color: #333;
      white-space: nowrap;
      font-size: 12px;
      line-height: 20px;
      padding: 0 6px;
      border: 1px solid $border;
      transition: all 0.3s 0.3s;
      transform: scale(0);
      opacity: 0;
      transform-origin: top;
    }
  }

  .shift-theme {

    ul {
      transform: scale(0);
      transition: all 0.3s;
      width: 160px;
      transform-origin: top center;
      list-style: none;
      margin: 0;
      padding: 6px 0;
      border: 1px solid $border;
      background: #fff;
      border-radius: 4px;
      position: absolute;
      z-index: 9999;

      li {
        line-height: 30px;
        padding: 0 12px;
        font-size: 13px;
        cursor: pointer;
        user-select: none;

        &:hover, &.active {
          background: $background;
        }
      }
      &.active  {
        opacity: 1;
        transform: scaleY(1);
      }
    }
    
  }

  .import-file input {
      display: none;
  }

}

.markdown-editor {
  flex: 1;
  display: flex;
  overflow-y: scroll;
  padding-right: 11px;

  > ul {
    width: 36px;
    height: 100%;
    line-height: $line-height;
    padding: 8px 0 0;
    margin: 0;

    li {
      color: #ccc;
      font-size: 14px;
      text-align: center;
    }
  }

  textarea {
    width: 100%;
    min-height: 100%;
    outline: none;
    border: 0;
    line-height: $line-height;
    caret-color: #ccc;
    color: #669acc;
    font-size: 14px;
    resize: none;
    padding: 8px 10px;
    overflow: hidden;
  }
}

.markdown-preview {
  flex: 1;
  width: 50%;
  overflow-y: scroll;
  padding-right: 11px;

  > div {
    padding: 8px 15px;
    background: #fff;
    min-height: 100%;
  }

  img {
    display: block;
    width: 90%;
    margin: 20px auto;
    cursor: pointer;
  }

  table {
    width: 100%;
    border: 1px solid $border;
    border-bottom: 0;
    background: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 20px 0;

    tr {
      -webkit-transition: background 0.1s;
      transition: background 0.1s;
      text-align: nav;

    }

    tr td,
    tr th {
      padding: 0 8px;
      font-size: 14px;
      line-height: 39px;
      color: #333;
      border-bottom: 1px solid $border;
      cursor: pointer;
    }

    th {
      background: #f8f8f9;
      text-align: left;
      font-weight: bold;
    }

    tr:nth-of-type(even) {
      td {
        background: #f8f8f9;
      }
    }

    tr {
      &:hover {
        td {
          background: #eaf5f6;
        }
      }
    }

    td,
    th {
      border: 1px solid $border;
    }
  }
}