.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-box {
  display: flex;
  justify-content: space-between;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}