.transition-box {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg,#9fbaa8,#31354c);
  transition: 0.4s;
  z-index: 6;
  .hide-btn {
    color: #000;
    top: 30px;
    right: 30px;
    font-size: 30px;
    opacity: .7;
    position: absolute;
    cursor: pointer;
  }
  &.showed {
    left: 0;
  }
}

.transition-content {
  // @extend %center;
}
